* {
  margin: 0;
  padding: 0;
}

.main {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100vh;
  background-color: aliceblue;
}

#left {
  width: calc(20% - 1%);
  background-color: #dfe4ea;
  padding: 1% 0 0 1%;
}

#midden {
  width: 60%;
  position: relative;
  background-color: #f1f2f6;
  overflow: scroll;
  z-index: 0;
}

#right {
  width: 20%;
  background-color: #dfe4ea;
  display: flex;
  padding: 1% 0 0 0;
  flex-direction: column;
}

#right .item {
  display: flex;
  justify-content: space-around;
}

.code {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #f1f2f6;
}

.btn {
  border: none;
  outline: none;
  background-color: #1abc9c;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
}

.inp {
  border: none;
  outline: none;
  padding: 4px 0 4px 10px;
  border-radius: 5px;
  color: #2c3e50;
}

.image {
  width: 150px;
  height: 200px;
  border-radius: 5px;
  cursor: nw-resize;
}

.text {
  color: #2c3e50;
  font-size: 15px;
  font-weight: 600;
}

/* 元素选中框 */
.selected {
  border: 3px solid #e74c3c !important;
  opacity: 0.7 !important;
}
